{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAK & ASH FORESTRY</title>
    <link rel="stylesheet" href="{% static 'aboutus.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<!-- AOS JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
   



</head>

<body>
    <header>
        <nav>
            <div id="logo">
                <h1>OAK & ASH FORESTRY</h1>
            </div>
            <ul>
                <li><a href="/" target="_blank">HOME</a></li>
                <li><a href="/service">SERVICES</a></li>
                <li><a href="/aboutus">ABOUT</a></li>
                <li><a href="/workgallery">WORK GALLERY</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
        </nav>
    </header>
    <main><section id="about">
        <div data-aos="fade-up"  id="about-heading">
            <h1>ABOUT US</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint reprehenderit magnam qui praesentium doloribus quos expedita voluptatum earum voluptates. Adipisci illo voluptate ducimus exercitationem, sapiente quidem officiis fuga pariatur. Voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo beatae voluptatem magnam incidunt nulla cumque delectus eos in aspernatur quaerat! </p>
        </div>
        <div id="cards">
            <div data-aos="fade-up"  class="card">
                <div class="p">
                    <h1>Who We Are</h1>
                    <p style="padding:52px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae sit magni cumque laboriosam minima aspernatur vero rerum dicta consequuntur alias dignissimos corporis aperiam provident dolor in magnam, enim quas sunt vel autem beatae possimus delectus ex! Nihil adipisci omnis nobis repellat ratione minus labore assumenda dolore quis, eos modi?<strong>Call Today 123 - 456 - 7890</strong></p>
                </div>
                <div class="img">
                    <img src="https://static.wixstatic.com/media/c22c23_54f3df484c064f2f8c198a950e95e19c~mv2_d_4934_3289_s_4_2.jpg/v1/fill/w_588,h_963,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c22c23_54f3df484c064f2f8c198a950e95e19c~mv2_d_4934_3289_s_4_2.jpg" alt="Who are we">
                </div>
            </div>
            <div data-aos="fade-up"  class="card">
                <div class="img">
                    <img src="https://static.wixstatic.com/media/c22c23_e53576ae217845669c4d40797327fb23~mv2_d_4934_3289_s_4_2.jpg/v1/fill/w_588,h_963,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c22c23_e53576ae217845669c4d40797327fb23~mv2_d_4934_3289_s_4_2.jpg" alt="What We Do">
                </div>
                <div class="p">
                    <h1>What We Do</h1>
                    <p style="padding:52px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi animi in, est quod asperiores sunt tempore sit laboriosam quos quae aspernatur sequi veniam nesciunt vitae deserunt ea porro temporibus. Consectetur repellat temporibus labore quod perferendis nobis, laborum praesentium nihil velit quia cupiditate mollitia? Eligendi beatae labore, aliquam voluptatibus facilis eius.</p>
                </div>
            </div>
            
        </div>
    </section>
    
</main>
    <footer>
        <div id="footer-content">
            <div id="footer-logo">
                <h1>OAK & ASH FORESTRY</h1>
            </div>
            <div id="footer-social">
                <a href="https://facebook.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" />
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram" />
                </a>
            </div>
        </div>
        <div id="footer-bottom">
            <p>&copy; 2025 OAK & ASH FORESTRY. All Rights Reserved.</p>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            AOS.init({
                offset: 120,    // Customize options here
                duration: 400,
                easing: 'ease-in-out',
                once: true
            });
        });
    </script>
    
</body>
</html>
