{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAK & ASH FORESTRY</title>
    <link rel="stylesheet" href="{% static 'services.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<!-- AOS JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</head>
<body>
    <header>
        <nav>
            <div id="logo">
                <h1>OAK & ASH FORESTRY</h1>
            </div>
            <ul>
                <li><a href="/" target="_blank">HOME</a></li>
                <li><a href="/service">SERVICES</a></li>
                <li><a href="/aboutus">ABOUT</a></li>
                <li><a href="/workgallery">WORK GALLERY</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="services">
            <div data-aos="fade-up"  id="services-heading">
                <h1>SERVICES</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint reprehenderit magnam qui praesentium doloribus quos expedita voluptatum earum voluptates. Adipisci illo voluptate ducimus exercitationem, sapiente quidem officiis fuga pariatur. Voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo beatae voluptatem magnam incidunt nulla cumque delectus eos in aspernatur quaerat! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt sit at, recusandae ab eum deleniti ratione animi eveniet ea numquam!</p>
            </div>
            <div id="cards">
                <div data-aos="fade-up"  class="card">
                    <div class="p">
                        <h1>Forest Mulching</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae?  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptatibus saepe consequatur animi, hic magni tempore molestias nobis voluptates, facere rerum consectetur itaque voluptate atque, necessitatibus sed nulla minus.</p>
                    </div>
                    <div class="img">
                        <img src="https://static.wixstatic.com/media/c22c23_4c5d4ae3ea2441adba9408edbb0061b6~mv2_d_4934_3289_s_4_2.jpg" alt="Forestry Mulching">
                    </div>
                </div>
                <div data-aos="fade-up"  class="card">
                    <div class="img">
                        <img src="https://static.wixstatic.com/media/c22c23_bd91fe23a1134dc8acea2615e6522255~mv2_d_4934_3289_s_4_2.jpg" alt="Management Plans">
                    </div>
                    <div class="p">
                        <h1>Management Plans</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptatibus saepe consequatur animi, hic magni tempore molestias nobis voluptates, facere rerum consectetur itaque voluptate atque, necessitatibus sed nulla minus.</p>
                    </div>
                </div>
                <div data-aos="fade-up"  class="card">
                    <div class="p">
                        <h1>Timber Harvesting</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptatibus saepe consequatur animi, hic magni tempore molestias nobis voluptates, facere rerum consectetur itaque voluptate atque, necessitatibus sed nulla minus.</p>
                    </div>
                    <div class="img">
                        <img src="https://static.wixstatic.com/media/c22c23_d1519c2d54bc43c88ffc55817fb57352~mv2_d_4934_3289_s_4_2.jpg" alt="Timber Harvesting">
                    </div>
                </div>
                <div data-aos="fade-up"  class="card">
                    <div class="img">
                        <img src="https://static.wixstatic.com/media/c22c23_bd98bc6cfad14d7fb81c60f5d4a69c6e~mv2_d_4934_3289_s_4_2.jpg" alt="Tree Marking">
                    </div>
                    <div class="p">
                        <h1>Tree Marking</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptatibus saepe consequatur animi, hic magni tempore molestias nobis voluptates, facere rerum consectetur itaque voluptate atque, necessitatibus sed nulla minus.</p>
                    </div>
                </div>
                <div data-aos="fade-up"  class="card">
                    <div class="p">
                        <h1>Tree Planting</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptatibus saepe consequatur animi, hic magni tempore molestias nobis voluptates, facere rerum consectetur itaque voluptate atque, necessitatibus sed nulla minus.</p>
                    </div>
                    <div class="img">
                        <img src="https://static.wixstatic.com/media/c22c23_499f1bb633144ef093cca278f41cdf5b~mv2_d_4934_3289_s_4_2.jpg" alt="Tree Planting">
                    </div>
                </div>
                <div  data-aos="fade-up" class="card">
                    <div class="img">
                        <img src="https://static.wixstatic.com/media/c22c23_853a9b3f446c450c998c9566524e732a~mv2_d_4934_3289_s_4_2.jpg" alt="Land Clearing">
                    </div>
                    <div class="p">
                        <h1>Land Clearing</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, fugiat pariatur. Commodi sed, tenetur sapiente necessitatibus provident quas consequuntur molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptatibus saepe consequatur animi, hic magni tempore molestias nobis voluptates, facere rerum consectetur itaque voluptate atque, necessitatibus sed nulla minus.</p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        <div id="footer-content">
            <div id="footer-logo">
                <h1>OAK & ASH FORESTRY</h1>
            </div>
            <div id="footer-social">
                <a href="https://facebook.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" />
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram" />
                </a>
            </div>
        </div>
        <div id="footer-bottom">
            <p>&copy; 2025 OAK & ASH FORESTRY. All Rights Reserved.</p>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            AOS.init({
                offset: 120,    // Customize options here
                duration: 400,
                easing: 'ease-in-out',
                once: true
            });
        });
    </script>
    
    
</body>
</html>