* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: beige;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    line-height: 500%;
}

#logo h1 {
    color: rgb(182, 123, 15);
    font-size: 1.8em;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: rgb(6, 41, 6);
    font-weight: bold;
    font-size: 1.2em;
    transition: transform 0.3s, color 0.3s;
}

ul a:hover {
    transform: scale(1.1); 
    color: rgb(182, 123, 15); 
}

#intro {
    height: 100vh;
    width: 100%;
    position: relative;
}

#intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#intro #intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: rgb(6, 41, 6);
    font-size: 3em;
    background-color: rgba(245, 245, 220, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#intro #intro-text p {
    font-size: 1.2em;
    margin-top: 10px;
}
#services{
    width: 100%;
    height: 100vh;
    height: max-content;   
    padding: 50px 20px;
    text-align: center;
    color: rgb(6, 41, 6);
}
#services-intro,#testimonials-intro,#work-gallery-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    color: rgb(6, 41, 6);
    margin: 3% 0;
}


#services-intro h1 {
    font-size: 1.5em;
    color: rgb(6, 41, 6);
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}


#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


#cards .card {
    width: 400px;
    height: 500px ;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


#cards .card img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}


#cards .card h1 {
    font-size: 1.5em;
    margin: 15px 0;
    color: rgb(6, 41, 6);
}


#cards .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#services-btn{
    margin: 4% 0 0;
}
#services-btn button{
    background-color: transparent;
    padding: 1.3%;
    background-color: rgb(182, 123, 15);
    box-shadow: 0 0 3px 2px lightgrey;
    border: none;
    border-radius: 12px;
    transition: transform 0.5s;
}
#services-btn button:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(212, 148, 30);
}
#services-btn button a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(6, 41, 6);
    border: none;
    font-weight: bold;   
}
#testimonials{
    height: 100vh;
    height: max-content;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2015/08/30/07/48/cracked-913895_640.jpg");
}
#testimonials-write{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#testimonials-write .write{
    height: 100%;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(245, 245, 220, 0.593);
    border-radius: 5px;
    padding: 5%;
}
#testimonials-write img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    
}
.owl-carousel{
    height: 30vh;
    width: 100%;
}
.owl-carousel .item img {
    width: 40%;
    height: 50vh;
    max-height: 300px;
    object-fit: cover;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 6%;
    height: max-content;
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#footer-logo h1 {
    font-size: 24px;
    margin: 0;
}


#footer-social img {
    width: 24px;
    height: 24px;
}



#footer-bottom {
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
}