* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: beige;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    line-height: 500%;
}

#logo h1 {
    color: rgb(182, 123, 15);
    font-size: 1.8em;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: rgb(6, 41, 6);
    font-weight: bold;
    font-size: 1.2em;
    transition: transform 0.3s, color 0.3s;
}

ul a:hover {
    transform: scale(1.1); 
    color: rgb(182, 123, 15); 
}
#workgallery{
    height: 100vh;
    height: max-content;
    width: 100%;
}
#workgallery-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(6, 41, 6);
    margin: 8% 0;
}
#workgallery-heading h1{
    font-size: 3em;
}
#workgallery-heading p{
    font-size: 1.2em;
    text-align: center;

}
#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.407);
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.card .img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card0 {
    grid-column: 1 / 3;
}
.card2{
    grid-column: 1/3;
}
.card7{
    grid-column: 1/4;
}


.card0 img,.card1 img,.card2 img,.card3 img,.card4 img,.card5 img,.card6 img,.card7 img{
    width: 100%;
    height: 100%;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 6%;
    height: max-content;
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#footer-logo h1 {
    font-size: 24px;
    margin: 0;
}


#footer-social img {
    width: 24px;
    height: 24px;
}



#footer-bottom {
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
}